{% extends "base.html" %}
{%block visual%}
<div class = "header">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">
      Welcome {{user.name}}
    <img src="{{user.avatar_url}}" width="40" height="40" class="d-inline-block align-top" alt="">
    </a>
    <form class="form-inline" method = "post">
       {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Add user to graph" aria-label="Search" name = "userName">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name = "userAdd">Add</button>
    </form>
  </nav>
</div>
<div class = "container">
    <script src="https://d3js.org/d3.v5.js"></script>
    <script>
      var width = 960,
      height = 500
      var svg = d3.select("body").append("svg")
      .attr("width", width)
      .attr("height", height);

      var force = d3.layout.force()
      .gravity(.05)
      .distance(100)
      .charge(-100)
      .size([width, height]);
    </script>
</div>
{%endblock visual%}
