{% extends "base.html" %}
{%block visual%}
<div class = "header">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="#">
      Welcome {{user.name}}
    <img src="{{user.avatar_url}}" width="40" height="40" class="d-inline-block align-top" alt="">
    </a>
    <form class="form-inline" method = "post">
       {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Add user to graph" aria-label="Search" name = "userName">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name = "userAdd">Add</button>
    </form>
  </nav>
</div>

<!-- Links (* Removed after extracted by js *)-->
   <table id='links'>
       {% for link in links %}
       <tr>
           <td class='source'>{{ link.source }}</td>
           <td class='target'>{{ link.target }}</td>
       </tr>
       {% endfor %}
   </table>

<div id = "chart" align = "center"></div>
<!-- Visualisation-->
<script src="https://d3js.org/d3.v3.js"></script>
<script>

  //defining color scale
  var color = d3.scale.category20();

  //getting sources
  var sourceList = Array.from(document.getElementsByClassName('source'))
           .map(x => x.innerHTML)
  //getting targets
  var targetList = Array.from(document.getElementsByClassName('target'))
                    .map(x => x.innerHTML)
  document.getElementById('links').remove();

  //creating link array
  var i;
  var links = [];
  for(i = 0; i < sourceList.length; i++)
  {
    links.push({
      source: sourceList[i],
      target: targetList[i]
    });
  }

  var width  = 1900;
      height = 850;

  //graph nodes
  var nodes = {}
  //parse links to nodes
  links.forEach(function(link){
    link.source = nodes[link.source] ||
      (nodes[link.source] = {name:  link.source});
    link.target = nodes[link.target] ||
      (nodes[link.target] = {name: link.target});
  });

  //add svg to body
  var svg = d3.select('#chart').append('svg')
  .attr('width', width)
  .attr('height', height);

  var force = d3.layout.force()
  .size([width, height])
  .nodes(d3.values(nodes))
  .links(links)
  .on("tick", tick)
  .linkDistance(450)
  .start();

  //creating links
  var link = svg.selectAll('.link')
  .data(links)
  .enter().append('line')
  .attr('class', 'link');

  //creating nodes
  var elems = svg.selectAll('g')
  .data(force.nodes())
  .enter()
  .append("g")
  .attr("name", function(d) {return d.name})

  var node = elems.append('circle')
  .attr('class', 'node')
  .attr("fill",function(d,i){return color(i);})
  .attr('r', function(d){return width * (0.001 * d.weight)});

  //appending text
  var text = elems.append("text")
     .attr('class', 'text')
     .attr("dx", 12)
     .attr("dy", ".35em")
     .text(function(d) { return d.name });

  function tick(e) {
    node.attr('cx', function(d) {return d.x;})
    .attr('cy', function(d) {return d.y;})
    .call(force.drag);

    elems.attr('cx', function(d) {return d.x;})
    .attr('cy', function(d) {return d.y;})
    .call(force.drag);

    text.attr('x', function(d) {return d.x;})
    .attr('y', function(d) {return d.y;})
    .call(force.drag);

    link.attr('x1', function(d) {return d.source.x;})
    .attr('y1', function(d) {return d.source.y;})
    .attr('x2', function(d) {return d.target.x;})
    .attr('y2', function(d) {return d.target.y;});
  }
</script>
{%endblock visual%}
